h1{
    background-color:#5B6454 ;
    color: #ffff;
    text-align:center ;
}
h2{
    background-color:#5B6454 ;
    color: #ffff;
}
body{
    background-color: #809207;
}
p{
    color: #ffff;
    margin: auto;
    text-align: center;
}
li :hover{
    text-align: center;
    color: rgb(52, 80, 7);
    cursor: pointer;
}
li{
    text-align: center;
    font-size: 20px;
    
}
a{
    color: #ffffff;

}
body{
    background-image:url(../image/Diseño\ sin\ título\ \(1\)\ .jpg) ;
}